// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i");

@import "variable-overrides";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "settings";
@import "~foundation-sites/scss/foundation";
@import "~font-awesome/scss/font-awesome";

// Include Everything (True) for the Flex Grid :);
@include foundation-everything(false);
@include foundation-everything($prototype: true);

@import "variables";
@import "mixins";
@import "core";

// Helpers
@import "../helpers";

@import "header";
@import "sidebar";
@import "sidebar-mini";
@import "control-sidebar";
@import "dropdown";
@import "forms";
// @import "progress-bars";
@import "small-box";
@import "boxes";
@import "info-box";
// @import "timeline";
// @import "buttons";

@import "callout";
// @import "alerts";
// @import "navs";
// @import "products";
// @import "table";
// @import "labels";
// @import "direct-chat";
@import "users-list";
// @import "carousel";
// @import "modal";

// Pages
// @import "mailbox";
// @import "lockscreen";
// @import "login_and_register";
// @import "404_500_errors";
// @import "invoice";

// @import "fullcalendar";

// Skins
@import "skins/_skin-blue";

// Other
@import "custom";

// Miscellaneous
@import "miscellaneous";
// @import "print";

// Plugins
@import "../plugin/sweetalert/sweetalert.scss";