// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
// @import "variables";

// Zurb Foundation
@import "settings";
@import "~foundation-sites/scss/foundation";

// Include Everything (True) for the Flex Grid :);
@include foundation-everything(false);
@include foundation-everything($prototype: true);

// Font Awesome
@import "~font-awesome/scss/font-awesome";

// Helpers
@import "../helpers";

// Global
@import "global";

// custom
@import "frontend_custom";

// Pages
@import "pages/dashboard";
@import "pages/login";

// Plugins
@import "../plugin/toastr/toastr.scss";
@import "../plugin/sweetalert/sweetalert.scss";
